body {
  padding-top:30px;
  padding-bottom:30px;
  font-size: 14px;
  background-color: #EFE9E9;
}

.starter-template {
  padding: 40px 20px 20px 20px;
  background-color: white;
  min-height: 800px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    height: 30px;
    padding:5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

.navbar{
	background-color: #0A8CBF;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: white;
          background-color: #0A8CBF;
    }



.ui-widget {  
    font-size: 14px !important;
      
}

.ui-growl {  
    top: 60px !important;
    right: 10px !important;
} 

.panel {
	
	border: 1px solid #0A8CBF;
	
}
.panel .panel-heading{
	background-color: #0A8CBF;
	color:white;
	padding: 8px 3px 3px 20px;	
	font-size: 14px;
	
}

.ui-selectonemenu{
    width: 100% !important;
}

.menuTree{
	border: none;
	
}
.menuLink a , .menuSimples{
	font: 18px "Comic Sans MS", cursive !important;
	font-size:18px;
 
}
.menuLink{
	font: 18px "Comic Sans MS", cursive !important;
}

.menuSimples{
		
}

.ui-tree .ui-treenode-leaf-icon{
	width: 32px !important;
	
 }
 
span.ui-tree-toggler.ui-icon.ui-icon-triangle-1-e{
	width: 32px;
	height: 32px;
    background:  url("#{facesContext.externalContext.requestContextPath}/resources/imagens/folder_close_32x32.png") top repeat-y !important; 
   
          
} 
span.ui-tree-toggler.ui-icon.ui-icon-triangle-1-s{
 	width: 32px;
	height: 32px;
    background:  url("#{facesContext.externalContext.requestContextPath}/resources/imagens/folder_open_32x32.png") top repeat-y !important; 
   
 }
 
 .marginLeft{
 	margin-left: 40px;
 	
 }
 
 .paragrafo{
 	margin:5px 10px 5px 10px;
 	text-align: justify;
 
 }


