body{
	background-color: rgba(28, 17, 0, 0.2);
}

#form_login{
	
	width:400px; 
	margin: 130px auto;
	border: 2px solid gray; 
      
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
	padding: 30px;
	border-radius: 10px;
}

#btnSubmit{
	
	margin-top: 10px;
	}
	
.ui-growl {
	top:70px !important; 
}
