<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security=" http://www.springframework.org/schema/security"
       xsi:schemaLocation="
       			   http://www.springframework.org/schema/beans
				   http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
				   http://www.springframework.org/schema/tx
				   http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
				   http://www.springframework.org/schema/context
				   http://www.springframework.org/schema/context/spring-context-4.1.xsd
				   http://www.springframework.org/schema/aop
				   http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
				   http://www.springframework.org/schema/mvc
				   http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
				   http://www.springframework.org/schema/security
				   http://www.springframework.org/schema/security/spring-security-3.2.xsd">
				   
		<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		    <property name="driverClassName" value="org.postgresql.Driver" />
		    <property name="url" value="jdbc:postgresql://localhost:5432/edu_mobi" />
			<property name="username" value="postgres" />
			<property name="password" value="123456" />
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
					<prop key="hibernate.c3p0.minPoolSize">10</prop>
					<prop key="hibernate.c3p0.maxPoolSize">200</prop>
					<prop key="hibernate.c3p0.timeout">1800</prop>
					<prop key="hibernate.c3p0.max_statement">50</prop>
					<prop key="hibernate.generate_statistics">true</prop>
					<prop key="hibernate.hbm2ddl.auto">validate</prop>
					
					
				</props>
			</property>
			<property name="annotatedClasses">
				<list>
					<value>br.com.edu_mob.entity.Usuario</value>
					<value>br.com.edu_mob.entity.Perfil</value>
					<value>br.com.edu_mob.entity.Funcionalidade</value>
					<value>br.com.edu_mob.entity.Categoria</value>
					<value>br.com.edu_mob.entity.Questao</value>
					<value>br.com.edu_mob.entity.Alternativa</value>
					<value>br.com.edu_mob.entity.Aluno</value>
					<value>br.com.edu_mob.entity.Municipio</value>
					<value>br.com.edu_mob.entity.UF</value>
				</list>
			</property>
		</bean>
		
		<!-- Controle das Transacoes do Hibernate -->
		<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		
		<!-- Injecao de uma Sessao do Hibernate -->
		<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		
		<!-- Para identificar as anotacoes -->
		<context:component-scan base-package="br.com.edu_mob" />
		
		<!-- Configurar annotations do contexto -->
		<context:annotation-config />
		
		<!-- Configurar anotacoes da transacao -->
		<tx:annotation-driven transaction-manager="transactionManager"/>
		
		<import resource="springSecurity.xml"/>
			   
</beans>